portfoliostyle.css


body {
    margin: 10px;
    padding: 20 px;
}


/* SECTION: MAIN HEADER */

.MainHeader {
    background-image: url("Images\code_pink_blue.jpg");
    /*background-color: aqua;*/
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 50px;
}

h2{
    font-family: monospace;
    font-size: 40px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

/* SECTION: PAGE HEADER */

.PageHeader {
    background-color: aquamarine;
    color: black;
    text-align: center
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

/* SECTION: MAIN BODY CONTENT */

.MainBodyContent {
    background-color: darkviolet;
    color: white
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

/* SECTION: FOOTER */

.Footer {
    background-color: rgb(33, 166, 248);
    color: black;
    text-align: center;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
}